* {
    margin: 0;
    padding: 0;
}
.background{
    background-image:url(bg1.jpg);
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

#navbar ul 
{
list-style: none;
z-index: 1000;
}

#navbar ul li {
    background-color: black;
    border: 1px solid white;
    width: 243px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;
} 
#content{
    text-align:center
}   


.hotel-name {
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optionally, you can add padding, margin, etc. to style the content */
    padding: 20px;
    text-align: center; /* Center-align the text */
    margin-top:20px;
    font-size: 50px; /* Adjust font size as needed */
    color:white; /* Adjust text color as needed */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#outerbox {
    width: 500px; 
    height: 300px; 
    border: 1px solid #ccc; 
    overflow: hidden; 
    position: relative;
}    

#outerbox img {
    width: 100%; 
    height: auto;
    display: block; 
}     

#navbar ul li a{
    text-decoration: none;
    color: white;
    display: block;
}

#navbar ul li a:hover {
    background-color: green;

}

#navbar ul ul {
    position: absolute;
    display: none;
}

#navbar ul li:hover > ul{
    display: block;
}

