#outerbox {
    width: 1514px;
    overflow: hidden;
    height: 670px;

}

#sliderbox {
    position: relative;
    width: 6056px;
    animation: slide 20s infinite ;
    /* animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite; */
}

#sliderbox img {
    width: 1514px;
    float: left;
}

@keyframes slide
{
    0%
    {
        left: 0px;
    }
    20%
    {
        left: 0px;
    }
    25%
    {
        left: -1514px;
    }
    45%
    {
        left: -1514px;
    }
    50%
    {
        left: -3028px;
    }
    70%
    {
        left: -3028px;
    }
    75%
    {
        left: -4542px;
    }
    95%
    {
        left: -4542px;
    }
    100%
    {
        left: -6056px;
    }

}
