.top
{
/* border: 0px solid black; */
display: flex;
justify-content: space-around;
align-items: center;
text-decoration-color: #f0e1e1;
background-color: black;
}

.top1 
{
margin-top: 20px;
margin-bottom: 20px;
/* border: 2px solid red; */
width: 350px;
height: 300px;
float: left;
box-shadow: 5px 5px 5px 10px #f1f1f1;
transition: transform 1s;
}

.top1:hover
{
    transform: scale(1.05);
}

.top1 img 
{
width: 100%;    
}

.checked
{
    color: orange;
}

.star
{
/* border: 2px solid black; */
text-align: center;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.title  
{
    text-align: center;
}

.title 
{
    color: green;
    font-size: 20px;
}

.btn 
{
/* border: 2px solid green; */
height: 45px;
display: flex;
justify-content: center;
align-items: center;
}
.btn input{
    height: 40px;
    width: 130px;
    border-radius: 7px;
    border: 0;
    background-color: orange;
    font-size: 20px;
}

.btn input:hover
{
    background-color: green;
    color: white;
    box-shadow: 5px 5px 7px 10px #f0e1e1;
}
#nav-bar-1 {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
    padding: 10px 0; /* Adjust padding as needed */
}

#nav-bar-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#nav-bar-1 li {
    padding: 10px 15px;
}

#nav-bar-1 a {
    text-decoration: none;
    color: white;
}

#nav-bar-1 a:hover {
    color: yellow;
}

/* Submenu */
#nav-bar-1 ul ul {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* Transparent black */
}

#nav-bar-1 ul li:hover > ul {
    display: inherit;
    flex-direction: column;
}

#nav-bar-1 ul ul li {
    width: 100%;
    padding: 10px 0;
}
