<html>

<head>
    <title>ASAIVA VIRUNDHU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='veg.css') }}">
<!--    <link rel="stylesheet" href="index.css">-->
<!--    <link rel="stylesheet" href="footer.css">-->
<!--    <link rel="stylesheet" href="veg.css">-->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/
font-awesome/5.15.2/css/all.min.css" />
<link rel="icon" href="static/fav1.ico" type="image/ico" sizes="20x20">
<style>
    /* Additional CSS styles for the cart button */
    .btn-cart {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    .btn-cart:hover {
        background-color: #45a049;
    }
</style>
</head>

<body>

    <!-- navbar code -->
    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
<!--            <li><a href="index.html">Home</a></li>-->
<!--            <li><a href="about.html">About</a></li>-->
            <li><a href="">Menu</a>
                <ul>
                    <li><a href="/veg">Veg</a></li>
                    <li><a href="/nonveg">Non-Veg</a></li>
                    <li><a href="/fastfood">Fast Food</a></li>
<!--                    <li><a href="veg.html">Veg</a>-->
<!--                    <li><a href="nonveg.html">Non-Veg</a>-->
<!--                    -->
<!--                    <li><a href="fastfood.html">Fast Food</a>-->
<!--                    -->
                    

                </ul>
            </li>
            <li><a href="/total_orders">Orders</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">login</a></li>
<!--            <li><a href="order.html">Order</a></li>-->
<!--            <li><a href="contact.html">Contact</a></li>-->
<!--            <li><a href="login.html">Login</a></li>-->
        </ul>
    </div>
    <br>
    <br><br>
    <h1 align="center">Fast Food</h1>

    <div class="top">
        <div class="top1"><img src="static/veg rice.jpg">
            <div class="star">
                <p><h1></h1>VEG RICE</h1></p>
            </div>
            <div class="title">
                <p>Cost &nbsp;<b>: 60</b></p>
            </div>
            <div class="btn">
                <button class="btn-cart">Add to Cart</button>
                <li><a href="/addtocart">addtocart</a></li>
<!--                <a href="addtocart.html"></a>-->
            </div>
        </div>
        <div class="top1"><img src="static/schezwan-chicken-rice.webp">
            <div class="star">
                <p><h1></h1>SCHEZWAN CHICKEN RICE</h1></p>
            </div>
            <div class="title">
                <p>Cost &nbsp;<b>: 110</b></p>
            </div>
            <div class="btn">
                <button class="btn-cart">Add to Cart</button>
            </div>
        </div>
        <div class="top1"><img src="static/schezwan-chicken-noodles.jpg">
            <div class="star">
                <p><h1></h1>SCHEZWAN CHICKEN NOODLES</h1></p>
            </div>
            <div class="title">
                <p>Cost &nbsp;<b>: 120</b></p>
            </div>
            <div class="btn">
                <button class="btn-cart">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="top">
        <div class="top1"><img src="static/Egg-Fried-Rice.jpg">
            <div class="star">
                <p><h1></h1>EGG RICE</h1></p>
            </div>
            <div class="title">
                <p>Cost &nbsp;<b>: 80</b></p>
            </div>
            <div class="btn">
                <button class="btn-cart">Add to Cart</button>
            </div>
        </div>
        <div class="top1"><img src="static/chilli-paneer-noodles.webp">
            <div class="star">
                <p><h1></h1>PANEER NOODLES</h1></p>
            </div>
            <div class="title">
                <p>Cost &nbsp;<b>: 100</b></p>
            </div>
            <div class="btn">
                <button class="btn-cart">Add to Cart</button>
            </div>
        </div>
        <div class="top1"><img src="static/paneer-fried-rice.jpg">
            <div class="star">
                <p><h1></h1>PANEER FRIED RICE</h1></p>
            </div>
            <div class="title">
                <p>Cost &nbsp;<b>: 100</b></p>
            </div>
            <div class="btn">
                <button class="btn-cart">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="top">
        <div class="top1"><img src="static/gobi fried rice.jpg">
            <div class="star">
                <p><h1></h1>GOBI RICE</h1></p>
            </div>
            <div class="title">
                <p>Special &nbsp;<b>: 80</b></p>
            </div>
            <div class="btn">
                <button class="btn-cart">Add to Cart</button>
            </div>
        </div>
        <div class="top1"><img src="static/gobi manchurian.jpg">
            <div class="star">
                <p><h1></h1>GOBI MANCHURIAN</h1></p>
            </div>
            <div class="title">
                <p>Special &nbsp;<b>: 80</b></p>
            </div>
            <div class="btn">
                <button class="btn-cart">Add to Cart</button>
            </div>
        </div>
        <div class="top1"><img src="static/gobi rice.jpg">
            <div class="star">
                <p><h1></h1>FRIED RICE </h1></p>
            </div>
            <div class="title">
                <p>Special &nbsp;<b>: 60</b></p>
            </div>
            <div class="btn">
                <button class="btn-cart">Add to Cart</button>
            </div>
        </div>
    </div>
    <footer class="ftr">
        <div class="footerbox">
            <b> Quick Link</b>
            <br><br><br>
            Home <br>
            About <br>
            Menu <br>
            Order <br>
            Contact <br>
        </div>

        <div class="footerbox">
            <b>Menu</b>
            <br><br><br>
            Veg Foods <br>
            Non Veg Foods <br>
            Fast Foods <br>
           
            Soup <br>
        </div>

        <div class="footerbox">
            <b>Address</b>
            <br><br><br>
            Opposite to Nandha Nursing College, <br>
            Erode to Perundurai Road, VAikalmedu<br>
            Email: selvisasaivavirundhu@gmail.com<br>
            Mobile : 9486167510 <br>
            Time: 9:00 AM to 9:00 PM <br>
        </div>
        <br><br>

        <div class="footerbox">
            <b>Direction</b>
            <br><br><br>
            <iframe
                src="https://maps.app.goo.gl/BW2HYC59gqxt541D9"
                width="100%" height="130" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>

<script>
        // Get all the "Add to Cart" buttons
        const addToCartButtons = document.querySelectorAll('.btn-cart');

        // Add click event listener to each button
        addToCartButtons.forEach(button => {
            button.addEventListener('click', () => {
                // Redirect to the order page
                window.location.href = '/order';
            });
        });
</script>
</body>

</html>
