<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>ASAIVA VIRUNDHU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Top.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='fav1.ico') }}" type="image/ico" sizes="20x20">
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
</head>
<body style="background-color: black;">
    <div id="loader">
        <img src="{{ url_for('static', filename='preloader.gif') }}">
    </div>
    <div id="content">
        <!-- Navbar code -->
        <div  id="nav-bar-1">
            <ul >
                <li><a href="/" >Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="">Menu</a>
                    <ul style="color: black;">
                        <li><a href="/veg">Veg</a></li>
                        <li><a href="/nonveg">Non-Veg</a></li>
                        
                    </ul>
                </li>
                <li><a href="/total_orders">Orders</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div id="outerbox">
            <div class="background">
                <h1 class="hotel-name"></h1>
                <br><br><h1 class="hotel-name">SELVI's ASAIVA VIRUNDHU </h1>
            </div>
        </div>
        <br>
        <footer class="ftr">
            
          
            <div class="footerbox">
                <b>Address</b>
                <br><br><br>
                
                Muthur main Road, Lakkapuram - 638002 <br>
                Email: vijisiva55@gmail.com<br>
                Mobile : 9025659760 <br>
                Time: 7:00 AM to 10:00 PM <br>
            </div>
            <br><br>
           
        </footer>
    </div>

</body>
</html>
